@import 'tailwindcss';

@theme {
    --color-background: #000;
    --color-foreground: #ffffff;
    --color-primary: var(--color-foreground);
    --color-primary-foreground: var(--color-background);
    --color-destructive: #ef4444;
    --color-border: #334155;
}

:root {
    --background: var(--color-background);
    --foreground: var(--color-foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        Adwaita Sans,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        helvetica,
        arial,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
}
